# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environment
.env

# Cache
.cache/
wandb/

# Outputs
outputs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
